<app-header></app-header>
<div class="quiz-container">
    <div class="ui container">
        <div class="question-wrapper" [hidden]="isShown">
            <div>
                <div class="questions-carousel">
                    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
                        <div ngxSlickItem *ngFor="let q of filteredQuestions; let i = index;" class="slide">
                            <div class="ui card question-component-container">
                                <div class="content">
                                    <h3 class="ui header">
                                        {{q.index}}. {{q.heading}}
                                    </h3>
                                </div>
                                <div class="content">
                                    <div class="ui form">
                                        <div class="grouped fields custom-fileds">
                                            <label> - {{q.title}}</label>
                                            <div class="field" *ngFor="let option of q.answers.answer">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" id="question{{i}}{{option['@value']}}" name="question-radio-{{i}}" (click)="q.value = option['@value']" [checked]="q.value === option['@value']" [value]="option['@value']">
                                                    <label for="question{{i}}{{option['@value']}}">{{option["@label"]}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="extra content center aligned">
                                    {{q.index}}/{{countOfQuestion}} Questions
                                </div>
                            </div>
                        </div>
                    </ngx-slick>
                </div>
            </div>
        </div>
        <div class="review-wrapper animated slideInUp" [hidden]="!isShown">
            <div class="ui card custom-card">
                <div class="content">
                    <h2 class="ui left floated header">
                        <form class="ui form">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="unanswered" name="unanswered" [(ngModel)]="unanswered" value="unanswered">
                                    <label for="unanswered">Show unanswered only</label>
                                </div>
                            </div>
                        </form>
                    </h2>
                    <!-- <h5 class="ui right floated header">Total {{countOfQuestion}} Questions</h5> -->
                    <h5 class="ui right floated header">Total {{(filteredQuestions | questionFilter : unanswered).length}} Questions</h5>
                </div>
                <div class="content scrolling">
                    <div class="ui grid">
                        <div class="ui seven column row doubling">
                            <div class="column center aligned" *ngFor="let question of filteredQuestions | questionFilter : unanswered; let i = index;">
                                <!-- <div *ngIf="question === -1">"No matches"</div> -->
                                <!-- <div *ngIf="question !== -1">do something</div> -->
                                <div class="ui icon green header" [ngClass]="{'green': question.value, 'red': !question.value}" (click)="questionGoTo(slickModal,question.index);">
                                    <i class="circular check icon" [ngClass]="{'check': question.value, 'minus': !question.value}"></i>
                                    <div class="sub-header">{{question.index}} </div>
                                </div>
                            </div>
                            <div class="sixteen wide column center aligned" *ngIf="(filteredQuestions | questionFilter : unanswered).length === 0">
                                <h2 class="ui icon header grey">
                                    <i class="search icon disabled"></i>
                                    <div class="content">
                                        No Matches
                                    </div>
                                </h2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="extra content">
                    <button class="ui button primary" (click)="showSuccessModal();" [disabled]="!nonSelected">Submit</button>
                    <button class="ui button red">Quit Exam</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="ui basic modal">
    <div class="ui icon header">
        <i class="check icon"></i> You have successfully completed quiz.
    </div>
    <div class="content">
        <p>For your score, please contact your administrator. Your result id is 1023823. </p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i> No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i> Yes
        </div>
    </div>
</div>