.questions-container {
  padding-top: 6em;
  height: 100%;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.review-component-container {
  position: fixed;
  top: 100vh;
}

.left-icon-container,
.right-icon-container {
  position: absolute;
  top: 30%;
}

.left-icon-container {
  left: 20px;
}

.left-icon,
.right-icon {
  font-size: 60px;
  line-height: 1;
}

.right-icon-container {
  right: 20px;
}

.question-component-container {
  display: block;
  width: 60%;
  margin-left: 20%;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  box-shadow: 3px 2px 10px 0px #eaeaea;
}

.part-title {
  padding-left: 20%;
  font-size: 25px;
}

.questions-carousel {
  position: relative;
  margin-top: 100px;
}

.custom-card {
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  border: 0px;
}

.custom-card .floated.header {
  margin: 0;
}

.custom-card .right.header {
  margin-top: 8px;
}

.custom-card .green > .circular {
  -webkit-box-shadow: 0 0 0 0.1em rgb(33, 186, 69) inset;
  box-shadow: 0 0 0 0.1em rgb(33, 186, 69) inset;
}

.custom-card .red > .circular {
  -webkit-box-shadow: 0 0 0 0.1em rgb(219, 40, 40) inset;
  box-shadow: 0 0 0 0.1em rgb(219, 40, 40) inset;
}

.custom-card .scrolling.content {
  max-height: calc(70vh);
  overflow: hidden;
  overflow-y: auto;
}
