<app-header></app-header>
<div class="user-container">
    <div class="ui two column stackable grid container">
        <div class="column">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search...">
                <div class="ui teal button">Search</div>
            </div>
        </div>
        <div class="column right aligned">
            <div class="ui form">
                <div class="inline field">
                    <label>1 to 10 of 500 - Results per page: </label>
                    <select>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                </div>
            </div>

        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui container">
        <table class="ui celled table custom-card">
            <thead>
                <tr>
                    <th>User Details</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/avatar/nan.jpg" class="ui mini rounded image">
                            <div class="content">
                                Lena
                                <div class="sub header">Human Resources
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui red tag label">Super admin</div>
                        <div class="ui blue tag label">Admin</div>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/wireframe/square-image.png" class="ui mini rounded image">
                            <div class="content">
                                Matthew
                                <div class="sub header">Fabric Design
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui blue tag label">Admin</div>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/avatar/tom.jpg" class="ui mini rounded image">
                            <div class="content">
                                Lindsay
                                <div class="sub header">Entertainment
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/wireframe/square-image.png" class="ui mini rounded image">
                            <div class="content">
                                Mark
                                <div class="sub header">Executive
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/avatar/nan.jpg" class="ui mini rounded image">
                            <div class="content">
                                Lena
                                <div class="sub header">Human Resources
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui red tag label">Super admin</div>
                        <div class="ui blue tag label">Admin</div>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/wireframe/square-image.png" class="ui mini rounded image">
                            <div class="content">
                                Matthew
                                <div class="sub header">Fabric Design
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui blue tag label">Admin</div>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/avatar/tom.jpg" class="ui mini rounded image">
                            <div class="content">
                                Lindsay
                                <div class="sub header">Entertainment
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <img src="https://semantic-ui.com/examples/assets/images/wireframe/square-image.png" class="ui mini rounded image">
                            <div class="content">
                                Mark
                                <div class="sub header">Executive
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <div class="ui tag label">Public</div>
                    </td>
                    <td>
                        <a class="ui primary button tiny" tabindex="0">
                            Edit
                          </a>
                        <a class="ui negative button tiny" tabindex="0">
                          Delete
                      </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr class="center aligned">
                    <th colspan="4">
                        <div class="ui pagination menu">
                            <a class="icon item">
                                <i class="left arrow icon"></i>
                            </a>
                            <a class="active item">
                              1
                            </a>
                            <div class="disabled item">
                                ...
                            </div>
                            <a class="item">
                              10
                            </a>
                            <a class="item">
                              11
                            </a>
                            <a class="item">
                              12
                            </a>
                            <a class="icon item">
                                <i class="right arrow icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>