<div class="ui form">
    <div class="grouped fields custom-fileds">
        <label>{{indexObj.partIndex + 1}}.{{indexObj.questionIndex + 1}} {{questionObj.title}}</label>
        <div class="field" *ngFor="let option of questionObj.answers.answer">
            <div class="ui radio checkbox" (click)="onSelectionChange(option['@value'])">
                <input type="radio" name="question-radio" [checked]="questionObj.value === option['@value']" [value]="option['@value']">
                <label>{{option["@label"]}}</label>
            </div>
        </div>
    </div>
</div>