<div class="ui fixed menu header-container">
    <div class="ui container">
        <a href="javascript:void(0)" routerLink="/quiz" class="header item header-username">
            <img class="logo" src="../assets/images/avatar-user.png"> MCQ - QUIZ
        </a>
        <div class="right menu">
            <div class="item" [class.hidden]="router.url !== '/quiz'">
                <div class="ui toggle checkbox" data-tooltip="Questions Review" data-position="bottom center">
                    <input type="checkbox" class="checkbox" name="public" (click)="toggleButton();">
                    <label></label>
                </div>
            </div>
            <div class="ui dropdown item" id="accountTab">
                Account <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><i class="user icon"></i>My Profile</div>
                    <div class="item"><i class="exclamation circle icon"></i>My Quiz List</div>
                    <div class="item"><i class="users icon"></i>Users List</div>
                    <div class="item"><i class="sign out alternate icon"></i> Logout</div>
                </div>
            </div>
        </div>
    </div>
</div>