/* You can add global styles to this file, and also import other style files */

.custom-card[_ngcontent-c1] {
    width: 100%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    border: 0px;
}

.left-icon-container,
.right-icon-container {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 40px;
    margin-left: 0;
    margin-right: 0;
    color: #5e5795;
    margin-top: -25px !important;
    background: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-icon-container.slick-disabled,
.right-icon-container.slick-disabled {
    opacity: 0.3;
}

.left-icon-container {
    left: 20px;
    padding: 0px 1px;
}

.right-icon-container {
    right: 20px;
    padding: 0px 4px;
}

.slick-slide:focus {
    outline: none;
}